@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.user_navbar {
    @include flex;
    width: 100%;
    height: 6vh;
    background: $purpleOpaque;
}

.navbar_fst {
    margin-right: 10px;
}

.navbar_btn {
    height: 6vh;
    background: none;
    border: none;
    color: $white;
    padding: 5px;
    vertical-align: middle !important;
    &:hover {
        cursor: pointer;
        color: $turquoiseHover;
        background: none;
    }
    p {
        line-height: 5vh;
    }
}

.products_list, .locations_list, .contact_list {
    position: relative;
    z-index: 2;
    @include border;
    @include shadow;
    background: $purple;
    padding: 5px;
    color: $white;
}

.products_list {
    height: 100px;
    margin-left: -17px;
    margin-right: -90px;
}

.locations_list {
    height: 160px;
    margin-left: -17px;
    margin-right: -115px;
    @media only screen and (min-width: 550px) {
        margin-right: -255px;
    }
}

.navbar_btn p {
    margin-bottom: 5px;
}

.contact_list {
    height: 130px;
    margin-left: -110px;
    margin-right: -6px;
}
