@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.user_navbar {
    @include flex;
    width: 100%;
    height: 6vh;
    background: $purple;
}

.navbar_fst {
    margin-right: 10px;
}

.navbar_btn {
    height: 6vh;
    border-top: none;
    border-bottom: none;
    color: $white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    vertical-align: middle !important;
    &:hover {
        cursor: pointer;
        background: $purpleHover;
    }
    p {
        line-height: 5vh;
    }
}

.products_list, .locations_list {
    position: relative;
    z-index: 2;
    @include border;
    @include shadow;
    height: 100px;
    background: $purple;
    margin-left: -17px;
    margin-right: -90px;
    padding: 5px;
}

.navbar_btn p {
    margin-bottom: 5px;
}

.contact_list {
    position: relative;
    z-index: 2;
    @include border;
    @include shadow;
    height: 100px;
    background: $purple;
    margin-left: -101px;
    margin-right: -6px;
    padding: 5px;
}
