@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.user_navbar {
    @include flex;
    width: 100%;
    height: 6vh;
    background: $purple;
}

.navbar_fst {
    margin-right: 10px;
}

.navbar_btn {
    height: 6vh;
    border-top: none;
    border-bottom: none;
    color: $white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    vertical-align: middle !important;
    &:hover {
        cursor: pointer;
        background: $purpleHover;
    }
    p {
        line-height: 5vh;
    }
}

.products_list, .locations_list, .contact_list {
    color: black;
}