// colors
$purple: rgb(82, 9, 160);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$greyModal: rgba(146, 145, 145, 0.48);
$purpleHover: #8328e4;
$purpleOpaque: #5209a07a;
$turquoiseHover: #11C7CC;

// border radius
$buttonRadius: 10px