@import "../../Styles//mixins.scss";
@import "../../Styles/variables.scss";

footer {
    @include flex(row, space-between);
    position: absolute;
    bottom: 0;
    background: $purple;
    color: $white;
    width: 100vw;
    height: 12vh;
    padding: 10px;
    @media only screen and (min-width: 1060px) {
        height: 10vh;
    }
}

.site_name {
    font-weight: bold;
}

.footer_location, .footer_contact {
    @include flex(column, center, flex-start);
    p {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 8px;
        @media only screen and (min-width: 650px) {
            font-size: 15px;
        }
    }
}

.footer_site_name, .footer_location, .footer_contact {
    margin-right: 10px;
}