@import "../../Styles//mixins.scss";
@import "../../Styles/variables.scss";

footer {
    @include flex(row, flex-start);
    position: absolute;
    bottom: 0;
    background: $purple;
    color: $white;
    width: 100vw;
    height: 12vh;
    padding: 10px;
    @media only screen and (min-width: 1060px) {
        height: 10vh;
    }
    @media only screen and (max-height: 900px) {
        height: 14vh;
    }
    div {
        @include flex(column, center, flex-start);
    }
    div :nth-child(1) {
        margin-right: 50px;
    }
    p {
        margin-right: 10px;
        margin-bottom: 5px;
        font-size: 12px;
        @media only screen and (min-width: 650px) {
            font-size: 17px;
        }
    }
}
